{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
  <h1>Вход</h1>
  {% if form.errors %}
    <p>Что то не то, ещё разок</p>
  {% else %}
    <p>Please, use the following form to log-in:</p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Log-in"></p>
    </form>
  </div>
{% endblock %}